/* Page with information about the SciKids team, mentor, and Sponsor */

/*determines background color */
body {
    background-color: white;
}

/*Header 1 Standards*/
h1 {
   font-family: 'Times New Roman';
   font-size: 36px;
   font-variant: small-caps;
   text-align: center;
   color: black;
}

	div.mainContent {
		float: right;
		background-color: white;
		width: 1200px;
		padding: 15px;
		margin: 50;
	}

h3 {
	font-size: 22px;
	font-variant: small-caps;
	color: black;
}
p {
   font-family: arial,verdana,sans-serif;
   font-size: 16px;
   background: white;
   color: black;
}

#ulHead {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
}

#liHead {
    float: left;
}

#liHeada {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Changes background color for section of navigation bar when hovered over */
li a:hover:not(.active) {
    background-color: gray;
}
/* Displays background color of page currently on in navigation bar */
.active {
    background-color: blue;
}
